
.footer {
    /* background-color: #eee;     */
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 0 4px #444;
}

.footer ul {    
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer li {
    min-width: 100px;
    border: 1px solid #ccc;
    background-color: white;    
    text-align:center;    
    color: black; 
    transition: 0.3s all;
}

.footer a {
    display:block;
    text-decoration: none;
    color: inherit;  
    padding: 5px 10px;     
}

.footer li:hover {
    background-color: #777;
    color: white;
}
