
.table-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {   
    font-family: Arial, Helvetica, sans-serif; 
    border-collapse: collapse;
    width: 100%;    
    border: 6px solid white;
    box-shadow: 0 0 4px 2px #444;
    /* table-layout:fixed; */
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

td {
    cursor: pointer;
}

  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

td.center {
    text-align: center;
}

td.image {
    max-width: 200px;
    max-height: 200px;
}

/* tr:hover {
    background-color: lightsteelblue;
} */

/* tr:hover td {
    border-color: black;
} */



/* GRID STYLES */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin:2em;
  padding:2em;  

  font-family: Oswald, Helvetica, sans-serif; 
}

.gallery-item {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;  
    /* padding:10px; */
    /* border-radius: 5px; */
    box-shadow: 0 0 4px #444;
    /* background-color: beige;      */
    color: #555;
    transition: 0.3s ease;
}

.gallery-item-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #aaa; */
    box-shadow: 0 0 4px #444;
    font-size:6em;
    color: #999;
    transition: 0.3s ease;
}

.gallery-item:hover, .gallery-item-empty:hover {
    box-shadow: 0 0 8px #444;
    color: #333;
    transform: scale(1.01);
}

.image-container {
    height: 200px;
    overflow-y: hidden;
    /* object-fit: cover; */
}

.details-container {
    padding:2em;
}

.item-name {
    font-size: 1.1em;
}

.item-description {
    font-family: 'roboto', sans-serif;
    font-size: 0.9em;
}



